

/* This is the body */

* {
    box-sizing: border-box;
    text-align: center;
    margin: auto
  }
/* Not able to make this responsive. It opens to the right but when window is maximized it justifies center as intended. */
    body {
        max-width: 960px;
        font-size: 18px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        line-height: 50px;
        background-color: #777777;
    }

    header {
        width: 960px;
        padding: 20px;
        margin: 25px;
        color: #777777;
        background: #ebebeb;
    }

    nav {
        width: 960px;
        background-color: #ebebeb;
        margin: 25px;
        padding: 20px;
        color: #777777;
    }

    .middle-section {
        margin: 20px 0 0 0;
    }
    
    section {
        width:  495px;
        float: left;
        background-color: #ebebeb;
        color: #777777;
        height:  285px;
        padding: 28px;
        margin: 5px 25px;
    }

    article {
        float: left;
        width: 475px;
        height: 190px;
        color: #ebebeb;
        margin: 5px 0 0 -18px;
        padding: 10px;
        background-color: #777777;
    }

    h3 {
        background-color: #ebebeb;
        color: #777777;
        padding: 10px;
        margin: 0 0 10px 13px;
        line-height: 30px;
        width: 430px;
    }
    p { 
        background-color: #ebebeb;
        color: #777777;
        padding: 10px;
        line-height: 30px;
        width: 430px;
        margin: 10px 0 0 12px;
        
    }
    
    aside { 
        width: 445px;
        float: left;
        background-color: #ebebeb;
        color: #777777;
        height:  285px;
        padding: 28px;
        margin: 0 -60px 0 0;
        
    }

    
    footer {
        width: 960px;
        padding: 20px;
        clear: both;
        background: #ebebeb;
        color: #777777;
        margin: 25px;
      }

  